name: Apex Automated Tests

on:
  #schedule:
    # Run every day at 8:00 AM UTC
    #- cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        id: run_tests
        run: |
          npx playwright test tests/dashboardAndTaskListValidation.spec.js --grep "@regression" --trace=on
        continue-on-error: true

      - name: Upload Playwright HTML Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test-results/

      # Send Outlook Email Notification
      - name: Send Outlook Email Notification
        if: always() # runs even if previous steps failed
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.office365.com
          server_port: 587
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: |
            Apex Automated Tests - ${{ job.status }}
          to: SRongali@axgsolutions.com
          from: ${{ secrets.MAIL_USERNAME }}
          html_body: |
            <h2 style="color:${{ job.status == 'success' && 'green' || 'red' }}">Apex Automated Tests: ${{ job.status }}</h2>
            <p><strong>Date:</strong> ${{ github.event.head_commit.timestamp }}</p>
            <p>Workflow: ${{ github.workflow }}</p>
            <p>Branch: ${{ github.ref_name }}</p>
            <p>Commit: <a href="https://github.com/${{ github.repository }}/commit/${{ github.sha }}"> ${{ github.sha }} </a></p>
            <p>Check the full HTML report in the workflow artifacts.</p>
