name: Apex Automated Tests

on:
  workflow_dispatch:
    # Uncomment below for scheduled runs
    # schedule:
    #   - cron: "30 3 * * *"

jobs:
  test:
    runs-on: [self-hosted, linux]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test tests/dashboardAndTaskListValidation.spec.js

      - name: Upload Playwright HTML Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report

      - name: Upload Custom Output
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: custom-output
          path: report/index.html
